## Heros of Pymoli

### Heros of Pymoli Data Analysis

####Observable Trends:

Even through female players are a small percentage(14%), their average spend per player is nearly 10% higher than the male gamers and their average spend per purchase is higher as well. 

Item Price has no correlation with purchase counts.

In [1]:
#Load Data from file

# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_path_load = './Instructions/HeroesOfPymoli/Resources/purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_path_load)

### Player Count

* Total Number of Players

In [2]:
number_players = purchase_data_df['SN'].nunique()
print(f'There are a total of {number_players} players')

There are a total of 576 players

### Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [4]:
number_unique_items = purchase_data_df['Item ID'].nunique()
average_purchase_price = round(purchase_data_df['Price'].mean(),2)
total_purchases = purchase_data_df['Purchase ID'].count()
total_revenue = purchase_data_df['Price'].sum()

In [6]:
purchase_df = pd.DataFrame({'Number of Unique Items': [number_unique_items], 
                            'Average Purchase Price': [average_purchase_price], 
                            'Total Number of Purchases': [total_purchases], 
                            'Total Revenue': [total_revenue]})
purchase_df['Total Revenue'] = purchase_df['Total Revenue'].map('${:.2f}'.format)
purchase_df['Average Purchase Price'] = purchase_df['Average Purchase Price'].map('${:.2f}'.format)
purchase_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

### Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [7]:
gender_group = purchase_data_df.groupby('Gender')

In [8]:
unique_players = purchase_data_df['SN'].nunique()
player_gender = gender_group['SN'].nunique()
gender_percentage = round(player_gender / unique_players * 100, 2)

In [9]:
player_gender_df = pd.DataFrame({'Count of Players': player_gender, 'Percentage': gender_percentage})
player_gender_df

                       Count of Players  Percentage
Gender
Female                               81       14.06
Male                                484       84.03
Other / Non-Disclosed                11        1.91

### Purchasing Analysis (Gender)

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Gender

In [10]:
purchase_count = gender_group['Price'].count()
average_price = gender_group['Price'].mean()
total_price = gender_group['Price'].sum()
average_price_person = total_price / gender_group['SN'].nunique()

In [11]:
purchase_gender_df = pd.DataFrame({'Purchase Count': purchase_count
                                   , 'Average Purchase Price': average_price.map('${:.2f}'.format)
                                   , 'Total Purchase Value': total_price.map('${:.2f}'.format)
                                   , 'Avg Purchase Total per Person': average_price_person.map('${:.2f}'.format)})
purchase_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

### Age Demographics

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group

In [12]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
age_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [13]:
purchase_data_df['Age Group'] = pd.cut(purchase_data_df['Age'], bins, labels = age_labels)

In [14]:
age_group = purchase_data_df.groupby('Age Group')
age_purchase_count = age_group['Purchase ID'].count()
age_avg_price = age_group['Price'].mean()
age_total_value = age_group['Price'].sum()
avg_purchase_person = age_total_value / age_group['SN'].nunique()

In [15]:
age_demographics_df = pd.DataFrame({'Age Count': age_purchase_count, 'Avg Purchase Price': age_avg_price.map('${:.2f}'.format)
                                   , 'Total Purchase Value': age_total_value.map('${:.2f}'.format)
                                    , 'Average Purchase Total per Person': avg_purchase_person.map('${:.2f}'.format)})
age_demographics_df

,Age Count,Avg Purchase Price,Total Purchase Value,Average Purchase Total per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

### Top Spenders

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

In [16]:
sn_group = purchase_data_df.groupby('SN')
sn_purchase_count = sn_group['Price'].count()
sn_avg_price = sn_group['Price'].mean()
sn_total_price = sn_group['Price'].sum()

In [17]:
top_spenders_df = pd.DataFrame({'Purchase Count': sn_purchase_count
                                , 'Average Purchase Price': sn_avg_price, 'Total Purchase Value': sn_total_price})

In [18]:
top_5_spenders = top_spenders_df.nlargest(5, 'Total Purchase Value')
for col in ['Average Purchase Price', 'Total Purchase Value']:
    top_5_spenders[col] = top_5_spenders[col].map('${:.2f}'.format)

In [19]:
top_5_spenders

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

### Most Popular Items

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [20]:
item_group = purchase_data_df.groupby('Item ID')
item_purchase_count = item_group['Price'].count()
item_total_purchase_value = item_group['Price'].sum()

In [21]:
most_popular_item_df = pd.DataFrame({'Item ID': item_group['Item Name'].first()
                                     , 'Purchase Count': item_purchase_count
                                     , 'Item Price': item_group['Price'].first()
                                     , 'Total Purchase Value': item_total_purchase_value})

In [25]:
#most_popular_item_df.sort_values(by = 'Purchase Count', ascending = True).head(100)

In [22]:
top_5_items = most_popular_item_df.sort_values(by = 'Purchase Count', ascending = False).head(5)
top_5_items['Total Purchase Value'] = top_5_items['Total Purchase Value'].map('${:.2f}'.format)
top_5_items['Item Price'] = top_5_items['Item Price'].map('${:.2f}'.format)
top_5_items

,Item ID,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

### Most Profitable Items

* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [23]:
top_5_items_purchase = most_popular_item_df.sort_values(by = 'Total Purchase Value', ascending = False).head(5)
top_5_items_purchase['Total Purchase Value'] = top_5_items_purchase['Total Purchase Value'].map('${:.2f}'.format)
top_5_items_purchase['Item Price'] = top_5_items_purchase['Item Price'].map('${:.2f}'.format)
top_5_items_purchase

,Item ID,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80